@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>
    <p>Here's your section profile. <a href="https://learn.microsoft.com/aspnet/core">Learn more about AuthDNet here.</a></p>
</div>